@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* ,
*::before,
*::after {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	color: aliceblue;
	font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: #5997d4;
}

.caret{
	font-size: 10px;
}

#header {
	position: fixed;
	width: 100%;
	background-color: #333;
	border-bottom: 1px #9e9e9e solid;
}

#logo {
	height: 50px;
	margin: 20px;
	float: left;
}

#search {
	margin-top: 20px;
	padding-top: 9px;
	float: left;	
}

#search-elements {
	padding: 4px;
	background-color: #ea4d50;
	border-radius: 13px;
}

#search-input {
	display:inline-block;
	padding-left: 10px;
	height: 30px;
	width: 400px;
	font-size: 20px;
	border-radius: 10px;
  	border: 0;
  	transition: .3s border-color;
	color: aliceblue;
	background-color: #5a5a5a;
	
}

#search-input:hover,
#search-input:active,
#search-input:focus {
	border: 0;
	outline: 0;
}

#search-button {
	position: relative;
	height: 28px;
	padding: 0 20px;
	font-size: 20px;
	outline: 0;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	color: aliceblue;
	background-color:#ea4d50;
}

#search-button:hover {
	background-color:#ff5558;
}

#nav {
	padding: 10px;
}

#nav > a {
	margin: 0 6px;
}
#profile {
	display:table;
	margin: 20px;
	float: right;
}

#profile-name {
	padding-right: 20px;
	padding-left: 20px;
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
}

#profile-img {
	width: 40px;
	height: 40px;
	border-radius: 20%;
	float: right;
}

#main {
	
}